#country-stats
{
    margin:0;
    padding:0;
    table
    {
        border-radius: 5px;
        & #tbody
        {
            background: #fff;
        }
    }
}
@media (max-width:480px)
{
    #country-stats
    {
        table
        {
            border-radius: 5px;
            & thead tr th
            {
                font-size:0.8rem;
            }
        }
    }
}
